.share-btn{
    background-color: transparent;
    border: 1px solid #ffffff26;
    padding: 10px;
    border-radius: 30px;
    color: var(--text-color);
}

.share-btn:hover{
    background-color: #454545;
}

.plan-dropdown {
    border: none;
    background: none;
    font-size: 22px;
    width: 113px;
    color: var(--text-color);
    // appearance: none;
}

/* Optional: On focus */
.plan-dropdown:focus {
  outline: none;
}

.plan-dropdown option {
    background: var(--input-bg);
  color: var(--text-color);
  border-radius: 20px;
  border: none;
  font-size: 13px;
}