.share-btn{
    background-color: transparent;
    border: 1px solid #ffffff26;
    padding: 10px;
    border-radius: 30px;
    color: var(--text-color);
}

.share-btn:hover{
    background-color: #454545;
}

.plan-dropdown {
    border: none;
    background: none;
    font-size: 22px;
    width: 113px;
    color: var(--text-color);
    // appearance: none;
}

/* Optional: On focus */
.plan-dropdown:focus {
  outline: none;
}

.plan-dropdown option {
    background: var(--input-bg);
  color: var(--text-color);
  border-radius: 20px;
  border: none;
  font-size: 13px;
}

.profile-picture {
  padding: 7px;
  border-radius: 50px;
  animation: elegantRGB 5s ease infinite;
  background: linear-gradient(135deg, #ff6ec4, #7873f5, #66ffff, #ffcc70);
  background-size: 300% 300%;
}

/* Keyframes */
@keyframes elegantRGB {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.theme-icon{
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--text-color);
}
